html,
body,
.root {
	height: 100%;
}

body {
	line-height: 1.5;
}

body,
.app {
	background: white;
}

:root {
	--primary-color: #4de3d6;
	--secondary-color: #bdfa61;
	--background-color: white;
	--text-color: black;
	--border-color: black;
}
